<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stop_id</key>
		<string>1</string>
		<key>stop_name</key>
		<string>艮山门东站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>2</string>
		<key>stop_name</key>
		<string>体育场路陈衙营</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>3</string>
		<key>stop_name</key>
		<string>莫衙营</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>4</string>
		<key>stop_name</key>
		<string>艮山门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>5</string>
		<key>stop_name</key>
		<string>武林广场北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>6</string>
		<key>stop_name</key>
		<string>市府大楼</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>7</string>
		<key>stop_name</key>
		<string>八字桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>8</string>
		<key>stop_name</key>
		<string>浙大西溪校区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>9</string>
		<key>stop_name</key>
		<string>庆丰村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>10</string>
		<key>stop_name</key>
		<string>天目山路学院路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>11</string>
		<key>stop_name</key>
		<string>古荡</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>12</string>
		<key>stop_name</key>
		<string>天目山路古翠路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>13</string>
		<key>stop_name</key>
		<string>丰潭路南口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>14</string>
		<key>stop_name</key>
		<string>天目山路古墩路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>15</string>
		<key>stop_name</key>
		<string>汽车西站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>16</string>
		<key>stop_name</key>
		<string>东方中学</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>17</string>
		<key>stop_name</key>
		<string>金鱼井</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>18</string>
		<key>stop_name</key>
		<string>营门口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>19</string>
		<key>stop_name</key>
		<string>杨家牌楼</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>20</string>
		<key>stop_name</key>
		<string>西穆坞</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>21</string>
		<key>stop_name</key>
		<string>屏基山北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>22</string>
		<key>stop_name</key>
		<string>留下</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>23</string>
		<key>stop_name</key>
		<string>留下西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>24</string>
		<key>stop_name</key>
		<string>西溪医院·横街</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>25</string>
		<key>stop_name</key>
		<string>屏峰</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>26</string>
		<key>stop_name</key>
		<string>水口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>27</string>
		<key>stop_name</key>
		<string>上埠</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>28</string>
		<key>stop_name</key>
		<string>头山门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>29</string>
		<key>stop_name</key>
		<string>浙江科技学院(小和山)</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>30</string>
		<key>stop_name</key>
		<string>冲天庙</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>31</string>
		<key>stop_name</key>
		<string>小和山公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>32</string>
		<key>stop_name</key>
		<string>闲林埠</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>33</string>
		<key>stop_name</key>
		<string>闲富路北口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>34</string>
		<key>stop_name</key>
		<string>甄家湾</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>35</string>
		<key>stop_name</key>
		<string>民丰</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>36</string>
		<key>stop_name</key>
		<string>天目山西路和睦路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>37</string>
		<key>stop_name</key>
		<string>天目山西路·华丰</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>38</string>
		<key>stop_name</key>
		<string>天目山西路高教路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>39</string>
		<key>stop_name</key>
		<string>留下北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>40</string>
		<key>stop_name</key>
		<string>西溪湿地周家村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>41</string>
		<key>stop_name</key>
		<string>西溪湿地高庄</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>42</string>
		<key>stop_name</key>
		<string>市公交集团</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>43</string>
		<key>stop_name</key>
		<string>闸弄口新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>44</string>
		<key>stop_name</key>
		<string>天城路范家路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>45</string>
		<key>stop_name</key>
		<string>火车东站西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>46</string>
		<key>stop_name</key>
		<string>里山桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>47</string>
		<key>stop_name</key>
		<string>洞山</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>48</string>
		<key>stop_name</key>
		<string>清家坞</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>49</string>
		<key>stop_name</key>
		<string>童家头</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>50</string>
		<key>stop_name</key>
		<string>午潮山北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>51</string>
		<key>stop_name</key>
		<string>四喜凉亭</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>52</string>
		<key>stop_name</key>
		<string>花坞校区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>53</string>
		<key>stop_name</key>
		<string>武警杭州指挥学院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>54</string>
		<key>stop_name</key>
		<string>天目山路紫荆花路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>55</string>
		<key>stop_name</key>
		<string>庆丰村西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>56</string>
		<key>stop_name</key>
		<string>黄龙公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>57</string>
		<key>stop_name</key>
		<string>骆家庄南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>58</string>
		<key>stop_name</key>
		<string>紫名巷</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>59</string>
		<key>stop_name</key>
		<string>文二西路竞舟路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>60</string>
		<key>stop_name</key>
		<string>桂花城</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>61</string>
		<key>stop_name</key>
		<string>皇朝花园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>62</string>
		<key>stop_name</key>
		<string>皇朝花园西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>63</string>
		<key>stop_name</key>
		<string>府苑新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>64</string>
		<key>stop_name</key>
		<string>汽车西站(天目山路东)</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>65</string>
		<key>stop_name</key>
		<string>花坞新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>66</string>
		<key>stop_name</key>
		<string>浙江科技学院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>67</string>
		<key>stop_name</key>
		<string>下沙高教东区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>68</string>
		<key>stop_name</key>
		<string>学源街文海南路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>69</string>
		<key>stop_name</key>
		<string>学源街文溯路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>70</string>
		<key>stop_name</key>
		<string>学源街文泽路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>71</string>
		<key>stop_name</key>
		<string>高沙</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>72</string>
		<key>stop_name</key>
		<string>下沙路一号路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>73</string>
		<key>stop_name</key>
		<string>下沙文化中心(智格村)</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>74</string>
		<key>stop_name</key>
		<string>幸福桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>75</string>
		<key>stop_name</key>
		<string>头格社区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>76</string>
		<key>stop_name</key>
		<string>杨公村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>77</string>
		<key>stop_name</key>
		<string>八堡南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>78</string>
		<key>stop_name</key>
		<string>窑厂</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>79</string>
		<key>stop_name</key>
		<string>彭埠</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>80</string>
		<key>stop_name</key>
		<string>艮新天桥东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>81</string>
		<key>stop_name</key>
		<string>金莲桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>82</string>
		<key>stop_name</key>
		<string>小和山新苑六区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>83</string>
		<key>stop_name</key>
		<string>牌楼里</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>84</string>
		<key>stop_name</key>
		<string>小和山新苑八区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>85</string>
		<key>stop_name</key>
		<string>头山门南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>86</string>
		<key>stop_name</key>
		<string>武林小广场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>87</string>
		<key>stop_name</key>
		<string>武林门马塍路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>88</string>
		<key>stop_name</key>
		<string>古荡小区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>89</string>
		<key>stop_name</key>
		<string>龙驹坞</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>90</string>
		<key>stop_name</key>
		<string>石马社区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>91</string>
		<key>stop_name</key>
		<string>皋塘村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>92</string>
		<key>stop_name</key>
		<string>艮新天桥北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>93</string>
		<key>stop_name</key>
		<string>新塘路严家路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>94</string>
		<key>stop_name</key>
		<string>景芳公园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>95</string>
		<key>stop_name</key>
		<string>五福新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>96</string>
		<key>stop_name</key>
		<string>钱江七苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>97</string>
		<key>stop_name</key>
		<string>钱江三苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>98</string>
		<key>stop_name</key>
		<string>富春路钱潮路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>99</string>
		<key>stop_name</key>
		<string>富春路民心路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>100</string>
		<key>stop_name</key>
		<string>富春路丹桂街口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101</string>
		<key>stop_name</key>
		<string>市民中心北大门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>102</string>
		<key>stop_name</key>
		<string>市民中心西大门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>103</string>
		<key>stop_name</key>
		<string>解放路钱江路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>104</string>
		<key>stop_name</key>
		<string>观音塘小区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>105</string>
		<key>stop_name</key>
		<string>总管塘西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>106</string>
		<key>stop_name</key>
		<string>市三医院北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>107</string>
		<key>stop_name</key>
		<string>水漾桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>108</string>
		<key>stop_name</key>
		<string>丰乐桥南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>109</string>
		<key>stop_name</key>
		<string>丰乐桥北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>110</string>
		<key>stop_name</key>
		<string>棚桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>111</string>
		<key>stop_name</key>
		<string>众安桥北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>112</string>
		<key>stop_name</key>
		<string>贯桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>113</string>
		<key>stop_name</key>
		<string>中大广场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>114</string>
		<key>stop_name</key>
		<string>天水桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>115</string>
		<key>stop_name</key>
		<string>小北门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>116</string>
		<key>stop_name</key>
		<string>中北桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>117</string>
		<key>stop_name</key>
		<string>施家桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>118</string>
		<key>stop_name</key>
		<string>建北桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>119</string>
		<key>stop_name</key>
		<string>建国北路文晖路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120</string>
		<key>stop_name</key>
		<string>文晖大桥东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121</string>
		<key>stop_name</key>
		<string>闻皇庙</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>122</string>
		<key>stop_name</key>
		<string>万事利丝绸汇</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>123</string>
		<key>stop_name</key>
		<string>地铁新风站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>124</string>
		<key>stop_name</key>
		<string>总管塘</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>125</string>
		<key>stop_name</key>
		<string>钱潮路钱江路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>126</string>
		<key>stop_name</key>
		<string>景芳六区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>127</string>
		<key>stop_name</key>
		<string>皇朝花园(五联村)</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>128</string>
		<key>stop_name</key>
		<string>康乐新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>129</string>
		<key>stop_name</key>
		<string>文三西路丰潭路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>130</string>
		<key>stop_name</key>
		<string>古荡新村西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>131</string>
		<key>stop_name</key>
		<string>古荡新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>132</string>
		<key>stop_name</key>
		<string>天苑花园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>133</string>
		<key>stop_name</key>
		<string>东方通信大厦</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>134</string>
		<key>stop_name</key>
		<string>九莲新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>135</string>
		<key>stop_name</key>
		<string>上宁桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>136</string>
		<key>stop_name</key>
		<string>文三路马塍路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>137</string>
		<key>stop_name</key>
		<string>大塘新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>138</string>
		<key>stop_name</key>
		<string>市交警支队</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>139</string>
		<key>stop_name</key>
		<string>朝晖一区南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>140</string>
		<key>stop_name</key>
		<string>市儿童医院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>141</string>
		<key>stop_name</key>
		<string>文晖大桥西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>142</string>
		<key>stop_name</key>
		<string>蒋村公交中心站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>143</string>
		<key>stop_name</key>
		<string>紫荆花路文一西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>144</string>
		<key>stop_name</key>
		<string>紫荆花路文二西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>145</string>
		<key>stop_name</key>
		<string>文二西路古墩路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>146</string>
		<key>stop_name</key>
		<string>丰潭路文二西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>147</string>
		<key>stop_name</key>
		<string>丰潭路文三西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>148</string>
		<key>stop_name</key>
		<string>玉古路求是路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>149</string>
		<key>stop_name</key>
		<string>浙大附中</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>150</string>
		<key>stop_name</key>
		<string>杭州花圃</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>151</string>
		<key>stop_name</key>
		<string>丁家山</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>152</string>
		<key>stop_name</key>
		<string>浴鹄湾</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>153</string>
		<key>stop_name</key>
		<string>赤山埠</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>154</string>
		<key>stop_name</key>
		<string>动物园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>155</string>
		<key>stop_name</key>
		<string>虎跑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>156</string>
		<key>stop_name</key>
		<string>钱江大桥换乘站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>157</string>
		<key>stop_name</key>
		<string>桥南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>158</string>
		<key>stop_name</key>
		<string>新生</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>159</string>
		<key>stop_name</key>
		<string>滨文路浦沿路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>160</string>
		<key>stop_name</key>
		<string>滨文路明德路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>161</string>
		<key>stop_name</key>
		<string>滨文中心站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>162</string>
		<key>stop_name</key>
		<string>市民中心</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>163</string>
		<key>stop_name</key>
		<string>下车路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>164</string>
		<key>stop_name</key>
		<string>新城隧道东口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>165</string>
		<key>stop_name</key>
		<string>菜市桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>166</string>
		<key>stop_name</key>
		<string>潮鸣寺巷</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>167</string>
		<key>stop_name</key>
		<string>教工路花园亭</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>168</string>
		<key>stop_name</key>
		<string>花园新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169</string>
		<key>stop_name</key>
		<string>浙江工商大学</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>170</string>
		<key>stop_name</key>
		<string>文一路学院路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171</string>
		<key>stop_name</key>
		<string>宋江村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>172</string>
		<key>stop_name</key>
		<string>骆家庄</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>173</string>
		<key>stop_name</key>
		<string>政新花园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>174</string>
		<key>stop_name</key>
		<string>杭三大桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>175</string>
		<key>stop_name</key>
		<string>机动车辆管理所</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>176</string>
		<key>stop_name</key>
		<string>古墩路石祥西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>177</string>
		<key>stop_name</key>
		<string>古墩路三墩路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>178</string>
		<key>stop_name</key>
		<string>水起苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>179</string>
		<key>stop_name</key>
		<string>金家渡路西口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>180</string>
		<key>stop_name</key>
		<string>池华街古墩路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>181</string>
		<key>stop_name</key>
		<string>池华街公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>182</string>
		<key>stop_name</key>
		<string>浙大公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>183</string>
		<key>stop_name</key>
		<string>古荡东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>184</string>
		<key>stop_name</key>
		<string>古翠路塘苗路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>185</string>
		<key>stop_name</key>
		<string>益乐村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>186</string>
		<key>stop_name</key>
		<string>益乐路文一西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>187</string>
		<key>stop_name</key>
		<string>文一西路毛家桥路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>188</string>
		<key>stop_name</key>
		<string>翠苑一区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>189</string>
		<key>stop_name</key>
		<string>翠苑二区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>190</string>
		<key>stop_name</key>
		<string>余杭塘路学院路东口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>191</string>
		<key>stop_name</key>
		<string>教工路塘河路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>192</string>
		<key>stop_name</key>
		<string>大关桥西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>193</string>
		<key>stop_name</key>
		<string>勤丰桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>194</string>
		<key>stop_name</key>
		<string>打铁弄</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>195</string>
		<key>stop_name</key>
		<string>小河佳苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>196</string>
		<key>stop_name</key>
		<string>登云路小河路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>197</string>
		<key>stop_name</key>
		<string>拱宸桥西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>198</string>
		<key>stop_name</key>
		<string>高家花园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>199</string>
		<key>stop_name</key>
		<string>昼锦里</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>200</string>
		<key>stop_name</key>
		<string>花园岗街小河路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>201</string>
		<key>stop_name</key>
		<string>三墩</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>202</string>
		<key>stop_name</key>
		<string>信鸿花园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>203</string>
		<key>stop_name</key>
		<string>润达花园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>204</string>
		<key>stop_name</key>
		<string>古墩路秀里街口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>205</string>
		<key>stop_name</key>
		<string>华东陶瓷建材市场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>206</string>
		<key>stop_name</key>
		<string>虾龙圩</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>207</string>
		<key>stop_name</key>
		<string>三坝</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>208</string>
		<key>stop_name</key>
		<string>武林门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>209</string>
		<key>stop_name</key>
		<string>延安新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>210</string>
		<key>stop_name</key>
		<string>孩儿巷</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>211</string>
		<key>stop_name</key>
		<string>胜利剧院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>212</string>
		<key>stop_name</key>
		<string>延安路解百</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>213</string>
		<key>stop_name</key>
		<string>耀江广厦</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>214</string>
		<key>stop_name</key>
		<string>柴垛桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>215</string>
		<key>stop_name</key>
		<string>市三医院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>216</string>
		<key>stop_name</key>
		<string>城站火车站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>217</string>
		<key>stop_name</key>
		<string>水碧苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>218</string>
		<key>stop_name</key>
		<string>灯彩街丰庆路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>219</string>
		<key>stop_name</key>
		<string>孔家埭北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>220</string>
		<key>stop_name</key>
		<string>孔家埭</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>221</string>
		<key>stop_name</key>
		<string>祥符桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>222</string>
		<key>stop_name</key>
		<string>花园岗</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>223</string>
		<key>stop_name</key>
		<string>汽车北站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>224</string>
		<key>stop_name</key>
		<string>和睦新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>225</string>
		<key>stop_name</key>
		<string>莫干山路登云路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>226</string>
		<key>stop_name</key>
		<string>北大桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>227</string>
		<key>stop_name</key>
		<string>董家新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>228</string>
		<key>stop_name</key>
		<string>余杭塘上</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>229</string>
		<key>stop_name</key>
		<string>一清新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>230</string>
		<key>stop_name</key>
		<string>德胜路东粮泊巷口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>231</string>
		<key>stop_name</key>
		<string>石灰坝</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>232</string>
		<key>stop_name</key>
		<string>朝晖六区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>233</string>
		<key>stop_name</key>
		<string>省人民医院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>234</string>
		<key>stop_name</key>
		<string>市红会医院北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>235</string>
		<key>stop_name</key>
		<string>庆春门北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>236</string>
		<key>stop_name</key>
		<string>庆春门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>237</string>
		<key>stop_name</key>
		<string>金衙庄</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>238</string>
		<key>stop_name</key>
		<string>雄镇楼</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>239</string>
		<key>stop_name</key>
		<string>建兰中学</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>240</string>
		<key>stop_name</key>
		<string>望江门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>241</string>
		<key>stop_name</key>
		<string>姚园寺巷</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>242</string>
		<key>stop_name</key>
		<string>香榭商务大厦</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>243</string>
		<key>stop_name</key>
		<string>章家桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>244</string>
		<key>stop_name</key>
		<string>浙医二院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>245</string>
		<key>stop_name</key>
		<string>官巷口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>246</string>
		<key>stop_name</key>
		<string>井亭桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>247</string>
		<key>stop_name</key>
		<string>市一医院</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>248</string>
		<key>stop_name</key>
		<string>庆春路浣纱路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>249</string>
		<key>stop_name</key>
		<string>武林门西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>250</string>
		<key>stop_name</key>
		<string>松木场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>251</string>
		<key>stop_name</key>
		<string>杭大路</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>252</string>
		<key>stop_name</key>
		<string>市公交集团东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>253</string>
		<key>stop_name</key>
		<string>朝晖路艮山流水苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>254</string>
		<key>stop_name</key>
		<string>沙田里</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>255</string>
		<key>stop_name</key>
		<string>朝晖二区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>256</string>
		<key>stop_name</key>
		<string>德胜新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>257</string>
		<key>stop_name</key>
		<string>通信市场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>258</string>
		<key>stop_name</key>
		<string>上塘路香积寺路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>259</string>
		<key>stop_name</key>
		<string>大关西六苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>260</string>
		<key>stop_name</key>
		<string>大关北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>261</string>
		<key>stop_name</key>
		<string>上塘路绍兴路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>262</string>
		<key>stop_name</key>
		<string>上塘路衢州街口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>263</string>
		<key>stop_name</key>
		<string>拱宸桥东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>264</string>
		<key>stop_name</key>
		<string>拱北小区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>265</string>
		<key>stop_name</key>
		<string>少年宫</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>266</string>
		<key>stop_name</key>
		<string>省府大楼西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>267</string>
		<key>stop_name</key>
		<string>松木场河西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>268</string>
		<key>stop_name</key>
		<string>半道红</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>269</string>
		<key>stop_name</key>
		<string>德胜新村南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>270</string>
		<key>stop_name</key>
		<string>德胜里</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>271</string>
		<key>stop_name</key>
		<string>德胜东村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>272</string>
		<key>stop_name</key>
		<string>草庵公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>273</string>
		<key>stop_name</key>
		<string>黄龙体育中心</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>274</string>
		<key>stop_name</key>
		<string>八字桥北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>275</string>
		<key>stop_name</key>
		<string>文三新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>276</string>
		<key>stop_name</key>
		<string>海洋二所</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>277</string>
		<key>stop_name</key>
		<string>新乌蓬桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>278</string>
		<key>stop_name</key>
		<string>打索桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>279</string>
		<key>stop_name</key>
		<string>杨家门</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>280</string>
		<key>stop_name</key>
		<string>大关桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>281</string>
		<key>stop_name</key>
		<string>丽水路锦鸿街口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>282</string>
		<key>stop_name</key>
		<string>温州路拱宸桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>283</string>
		<key>stop_name</key>
		<string>温州路上塘路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>284</string>
		<key>stop_name</key>
		<string>武林广场南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>285</string>
		<key>stop_name</key>
		<string>西湖文化广场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>286</string>
		<key>stop_name</key>
		<string>朝晖一区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>287</string>
		<key>stop_name</key>
		<string>朝晖三区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>288</string>
		<key>stop_name</key>
		<string>朝晖五区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>289</string>
		<key>stop_name</key>
		<string>朝晖九区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>290</string>
		<key>stop_name</key>
		<string>红石板新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>291</string>
		<key>stop_name</key>
		<string>米市巷</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>292</string>
		<key>stop_name</key>
		<string>方家塘</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>293</string>
		<key>stop_name</key>
		<string>严家斗</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>294</string>
		<key>stop_name</key>
		<string>金家渡</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>295</string>
		<key>stop_name</key>
		<string>金家渡北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>296</string>
		<key>stop_name</key>
		<string>省交通学院北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>297</string>
		<key>stop_name</key>
		<string>莫干山路良运街口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>298</string>
		<key>stop_name</key>
		<string>勾庄</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>299</string>
		<key>stop_name</key>
		<string>天阳棕榈湾</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>300</string>
		<key>stop_name</key>
		<string>留下南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>301</string>
		<key>stop_name</key>
		<string>留和家苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>302</string>
		<key>stop_name</key>
		<string>老东岳</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>303</string>
		<key>stop_name</key>
		<string>新凉亭</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>304</string>
		<key>stop_name</key>
		<string>炮台新桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>305</string>
		<key>stop_name</key>
		<string>浙大科技园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>306</string>
		<key>stop_name</key>
		<string>古荡西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>307</string>
		<key>stop_name</key>
		<string>黄龙洞</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>308</string>
		<key>stop_name</key>
		<string>杭州汽车客运中心</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>309</string>
		<key>stop_name</key>
		<string>德胜东路九睦路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>310</string>
		<key>stop_name</key>
		<string>德胜东路杭海路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>311</string>
		<key>stop_name</key>
		<string>蚕桑社区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>312</string>
		<key>stop_name</key>
		<string>德胜东路九环路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>313</string>
		<key>stop_name</key>
		<string>红五月社区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>314</string>
		<key>stop_name</key>
		<string>德胜东路备塘路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>315</string>
		<key>stop_name</key>
		<string>德胜东路药香路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>316</string>
		<key>stop_name</key>
		<string>黎明村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>317</string>
		<key>stop_name</key>
		<string>弄口七组</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>318</string>
		<key>stop_name</key>
		<string>弄口五组</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>319</string>
		<key>stop_name</key>
		<string>绍兴路德胜路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>320</string>
		<key>stop_name</key>
		<string>浙江工业大学</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>321</string>
		<key>stop_name</key>
		<string>朝晖八区南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>322</string>
		<key>stop_name</key>
		<string>新河坝巷</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>323</string>
		<key>stop_name</key>
		<string>沈塘桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>324</string>
		<key>stop_name</key>
		<string>密渡桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>325</string>
		<key>stop_name</key>
		<string>求是路</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>326</string>
		<key>stop_name</key>
		<string>西湖体育馆</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>327</string>
		<key>stop_name</key>
		<string>青蓝科创园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>328</string>
		<key>stop_name</key>
		<string>金蓬街墩余路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>329</string>
		<key>stop_name</key>
		<string>陆板桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>330</string>
		<key>stop_name</key>
		<string>西陈村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>331</string>
		<key>stop_name</key>
		<string>大港桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>332</string>
		<key>stop_name</key>
		<string>同仁家园南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>333</string>
		<key>stop_name</key>
		<string>萍水西街竞舟北路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>334</string>
		<key>stop_name</key>
		<string>萍水街丰潭路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>335</string>
		<key>stop_name</key>
		<string>丰登街东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>336</string>
		<key>stop_name</key>
		<string>庆隆苑东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>337</string>
		<key>stop_name</key>
		<string>林家浜路</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>338</string>
		<key>stop_name</key>
		<string>翠苑一区东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>339</string>
		<key>stop_name</key>
		<string>九莲新村西</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>340</string>
		<key>stop_name</key>
		<string>学院路黄姑山</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>341</string>
		<key>stop_name</key>
		<string>钱江湾花园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>342</string>
		<key>stop_name</key>
		<string>杭二中</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>343</string>
		<key>stop_name</key>
		<string>东信大道浦沿路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>344</string>
		<key>stop_name</key>
		<string>石屋洞</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>345</string>
		<key>stop_name</key>
		<string>里鸡笼山</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>346</string>
		<key>stop_name</key>
		<string>立马回头</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>347</string>
		<key>stop_name</key>
		<string>古墩路文三西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>348</string>
		<key>stop_name</key>
		<string>雅仕苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>349</string>
		<key>stop_name</key>
		<string>西斗门东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>350</string>
		<key>stop_name</key>
		<string>金色蓝庭公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>351</string>
		<key>stop_name</key>
		<string>浙大玉泉校区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>352</string>
		<key>stop_name</key>
		<string>玉古路天目山路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>353</string>
		<key>stop_name</key>
		<string>紫荆花路文三西路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>354</string>
		<key>stop_name</key>
		<string>蒋村商住区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>355</string>
		<key>stop_name</key>
		<string>紫荆花路余杭塘路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>356</string>
		<key>stop_name</key>
		<string>浦家桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>357</string>
		<key>stop_name</key>
		<string>浙大紫金港校区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>358</string>
		<key>stop_name</key>
		<string>章桥头</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>359</string>
		<key>stop_name</key>
		<string>望月社区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>360</string>
		<key>stop_name</key>
		<string>振华路双港路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>361</string>
		<key>stop_name</key>
		<string>西湖科技园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>362</string>
		<key>stop_name</key>
		<string>西园路西园三路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>363</string>
		<key>stop_name</key>
		<string>西园三路西园四路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>364</string>
		<key>stop_name</key>
		<string>振华路西园四路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>365</string>
		<key>stop_name</key>
		<string>振华路公交停车场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>366</string>
		<key>stop_name</key>
		<string>振华路西行路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>367</string>
		<key>stop_name</key>
		<string>古墩路金月巷口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>368</string>
		<key>stop_name</key>
		<string>古墩路平安桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>369</string>
		<key>stop_name</key>
		<string>丰登街拱苑路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>370</string>
		<key>stop_name</key>
		<string>文化商城</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>371</string>
		<key>stop_name</key>
		<string>翠苑三区</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>372</string>
		<key>stop_name</key>
		<string>花园南村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>373</string>
		<key>stop_name</key>
		<string>下宁桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>374</string>
		<key>stop_name</key>
		<string>文二路马塍路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>375</string>
		<key>stop_name</key>
		<string>省府大楼东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>376</string>
		<key>stop_name</key>
		<string>环城西路十四中</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>377</string>
		<key>stop_name</key>
		<string>钱塘门外</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>378</string>
		<key>stop_name</key>
		<string>小车桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>379</string>
		<key>stop_name</key>
		<string>联桥</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>380</string>
		<key>stop_name</key>
		<string>平海路岳王路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>381</string>
		<key>stop_name</key>
		<string>临浦新站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>382</string>
		<key>stop_name</key>
		<string>柏山陈</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>383</string>
		<key>stop_name</key>
		<string>萧二中</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>384</string>
		<key>stop_name</key>
		<string>白鹿塘</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>385</string>
		<key>stop_name</key>
		<string>白鹿塘北</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>386</string>
		<key>stop_name</key>
		<string>鲁家坞</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>387</string>
		<key>stop_name</key>
		<string>袄庄陈</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>388</string>
		<key>stop_name</key>
		<string>大路张</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>389</string>
		<key>stop_name</key>
		<string>立新村</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>390</string>
		<key>stop_name</key>
		<string>九鼎石材市场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>391</string>
		<key>stop_name</key>
		<string>03省道市心路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>392</string>
		<key>stop_name</key>
		<string>地铁朝阳站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>393</string>
		<key>stop_name</key>
		<string>鲁公桥东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>394</string>
		<key>stop_name</key>
		<string>地铁曹家桥站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>395</string>
		<key>stop_name</key>
		<string>戚家池</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>396</string>
		<key>stop_name</key>
		<string>潘水南苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>397</string>
		<key>stop_name</key>
		<string>地铁潘水站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>398</string>
		<key>stop_name</key>
		<string>潘水</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>399</string>
		<key>stop_name</key>
		<string>山水苑</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>400</string>
		<key>stop_name</key>
		<string>湘浦观鱼</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>401</string>
		<key>stop_name</key>
		<string>湘里坊</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>402</string>
		<key>stop_name</key>
		<string>湘湖公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>403</string>
		<key>stop_name</key>
		<string>湘湖家园</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>404</string>
		<key>stop_name</key>
		<string>风情大道老塘路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>405</string>
		<key>stop_name</key>
		<string>武警边防总队</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>406</string>
		<key>stop_name</key>
		<string>西兴大桥南</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>407</string>
		<key>stop_name</key>
		<string>华东家具市场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>408</string>
		<key>stop_name</key>
		<string>汽车南站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>409</string>
		<key>stop_name</key>
		<string>望江路海潮路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>410</string>
		<key>stop_name</key>
		<string>胡雪岩故居</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>411</string>
		<key>stop_name</key>
		<string>吴山公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>412</string>
		<key>stop_name</key>
		<string>祥运路公交站</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>413</string>
		<key>stop_name</key>
		<string>祥园路杭行路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>414</string>
		<key>stop_name</key>
		<string>杭行路祥庆街口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>415</string>
		<key>stop_name</key>
		<string>杭行路石祥路口</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>416</string>
		<key>stop_name</key>
		<string>汽车城汽配市场</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>417</string>
		<key>stop_name</key>
		<string>方家埭东</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>418</string>
		<key>stop_name</key>
		<string>方家埭</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>419</string>
		<key>stop_name</key>
		<string>北庄塘</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>420</string>
		<key>stop_name</key>
		<string>省档案馆</string>
	</dict>
</array>
</plist>
