<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>smartBus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64FC14DD1E7AB38600D856C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64FC14F61E7AB38700D856C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64FC15011E7AB38700D856C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
